/*imports*/
@import "normalize";
@import "fluid_skeleton";
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Quicksand);

body {
    height: 1000px;
}

html {
    font-family: 'Cabin';
}

h1, h2, h3 {
    font-family:'Quicksand';
    text-align: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}


.top {
    background: url('../images/mountains.jpg');
    height: 25%;
    padding: 5% 0 15% 0;
    font-size: 2em;
}

.bio {
    height: 100%;
    padding: 15% 0 15% 0;
}

.showcase {
    background: grey;
    height: 52%;
    padding: 15% 0 15% 0;
}

.profile {
    margin: 0 auto;
    margin-bottom:20px;
    background: url('../images/alexrisberg.jpg');
    height:300px;
    width:300px;
    border: solid black 3px;
    border-radius: 250px;
}